.current-location-wrapper{
    background-color: #ffffff;
    padding: 1.33em;
}
.current-location-sec{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.current-location-text{
    margin-left: 1em;
}
.current-location-text h4{
    font-family: "Quicksand-Medium";
    font-size: 1.16em;
    color: rgb(103 76 243);
    margin: 0;
    line-height: 2;
}
.current-location-text p{
    font-family: "OpenSans-Regular";
    font-size: 1em;
    color: rgb(147 164 184);
    margin: 0;
}
.mob-newaddress-form-wrapper{
    padding:1.33em 0;
    background-color: rgb(246 248 253);
}
.mob-newaddress-form-sec{
    background-color: #ffffff;
    padding: 1.5em 1.33em 0 1.33em;
}
.save-address-sec{
    padding: 0 1.33em 1.33em 1.33em;
}