.MuiBottomNavigation-root.mob-footer-sec {
  width: calc(100% - 5.33em);
  position: fixed;
  bottom: 0;
  z-index: 1;
  box-shadow: 0px 0px 17px 10px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  height: unset;
  padding: 1.33em 2.66em;
  justify-content: space-between;
}
.MuiBottomNavigation-root.mob-footer-sec .MuiBottomNavigationAction-root {
  padding: 0;
  min-width: unset;
  max-width: unset;
  height: 48px;
  border-radius: 24px;
  flex: unset;
  padding: 5px 15px;
}
.MuiBottomNavigation-root.mob-footer-sec
  .MuiBottomNavigationAction-root.Mui-selected {
  background-color: #674cf31a;
}
.MuiBottomNavigation-root.mob-footer-sec .MuiBottomNavigationAction-wrapper {
  flex-direction: row;
}
.MuiBottomNavigation-root.mob-footer-sec .MuiBottomNavigationAction-label {
  font-size: 1.33em;
  font-family: "OpenSans-Bold";
  color: #674cf3;
}
.MuiBottomNavigation-root.mob-footer-sec
  .MuiBottomNavigationAction-label.MuiBottomNavigationAction-iconOnly {
  display: none;
  opacity: unset;
}
.MuiBottomNavigation-root.mob-footer-sec
  .MuiBottomNavigationAction-root.Mui-selected
  img {
  margin-right: 0.75em;
}
.mob-footer-sec-bottomheight {
  padding-bottom: 80px;
}
